footer {
    display: flex;
}

.title-text {
    font-size: 2rem;
    color: rgb(33, 33, 33);
}

.title-author {
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
}

.menu {
    display: block;

    position: absolute;
    right: 0px;

    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;

    border: 0.1rem solid rgb(131, 71, 209);
    border-radius: 0.2rem;
}

.title-wrapper {
    display: inline;

    margin: 1rem 0px;
}

.item-wrapper {
    display: flex;
}

.export-wrapper {
    display: inline;
}

.export-btn {
    margin: 0.2rem 0px;
}

.editor-wrapper {
    width: auto;
    height: auto;
    
    padding: 0.5rem 0px 0px 0px;
}

.area-box-wrapper {

    display: flex;

    width: 100%;
    height: 62.5%;

}

.area-box-field {
    border: 0.1rem solid rgba(80, 80, 80, 0.75);

    margin: 0px auto;

    width: 58rem;
    height: 36.25rem;
}

.area-box {
    border: 0.1rem solid rgb(133, 64, 223);
    background: rgb(135, 68, 223);

    position: absolute;

    /* test */
    width: 300px;
    height: 200px;
}

.area-text-wrapper {
    display: flex;

    width: 100%;
    height: 100%;
}

.area-text {
    margin: auto auto;
    
    text-align: center;
    color: rgb(225, 225, 225);

    font-size: 2rem;
}

.settings-wrapper {
    display: inline-flex;

    padding: 1.3rem 0.5rem 0px 0.5rem;
}

.settings-element-wrapper > * {
    display: block;
    margin: 0.5rem auto;
}

.settings-box {
    display: block;

    width: 20rem;
    height: auto;

    margin: 0.2rem 0.8rem;
    padding: 0.5rem 0.5rem;

    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, .08);
}

.settings-title {
    color: rgb(33, 33, 33);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.pretty-checkbox-wrapper {
    margin: 0.5rem 0rem 0rem 0rem;
}

.pretty-checkbox-text {
    font-size: 1rem;
    color: rgb(33, 33, 33);
}